/* 전체 웹에 적용될 폰트 설정 */
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url("./css/loading.css");

/* 전체 웹에 대해 폰트 적용 */
body{
    font-family:'NEXON Lv2 Gothic';
    /* 단어 잘림 방지 */
    word-break: keep-all;
    display: flex;

    margin: 0 auto;
}